<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Time Chat App</title>

    <!-- css for the site -->
    <link rel="stylesheet" href="assets/css/style.css" />
    
    <!-- socket io -->
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>

    <!-- js file of this site -->
    <script defer src="assets/js/client.js"></script>
  </head>
  <body>

    
    <nav>
      <img class="logo" src="assets/chat.png" alt="" />
    </nav>


    <div class="container" id="chat">
        <!-- Message's -->
    </div>


    <div class="send-container">
      <form action="#" id="msg-form">
        <input type="text" id="msg-input" />
        <button type="submit" id="msg-submit">Send</button>
      </form>
    </div>


  </body>
</html>
